.Module__title,main.u-lMain .Row__title,.parent-site .row-title{
	text-align:left
}
.u-lHeader {
    background: #666 url(../images/uei-header-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 8% 8% 2% !important;
    margin-bottom: 2em;
}
.mindich .figure--image {
    margin: 0 0 1em;
}
@media all and (min-width: 30em) {    
    .mindich .figure--image {
        margin: 0 1em 1em 0;
        float: left;
        width: 33%;
    }
}
main.u-lMain .gift .Row__title {
    text-align: center;
}
.u-lMain .Row__title, .u-lMain h2 {
    font-weight: 600;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1em 0
}
.button-link {
    background-color: #951829;
    color: #fff;
    font-size: .9em;
    display: inline-block;
    padding: 0.4em 0.6em;
    border-radius: 0.2em;
    border: none;
    text-transform: uppercase;
    text-decoration: none !important;
    border-bottom: none;
}
.button-link:visited {
    background-color: #951829;
    color: #fff
}
.button-link:active {
    background-color: #63666A;
    color: #fff
}
.button {
    margin-top: 0;
    transition: none
}
.u-Masthead {
    margin: 0 auto;
}
.u-Masthead__head {
    line-height: .8 !important;
    text-align: center;
    margin-bottom: .15em;
}
.u-Masthead__siteName--link {
    background-color: transparent;
    margin-left: 0;
}